
{% extends "master.html" %}


{% block content %}

<form action="" method="post">
    <input type="text" placeholder="URL" name="url" value="{{ request.form.url }}">
    <input class="btn btn-default" type="submit" value="Classify">
</form>

<br>

{% if labels %}
<img src={{url}} alt="The image" style="width:300px;height:auto;">

<table>
	<tr>
		<th>Model</th>
		<th> Label </th>
	</tr>
	{% for model, label in labels.items() %}
		<tr>
			<td>{{ model }}</td>
			<td>{{ label }}</td>
		</tr>
	{% endfor %}
</table>
{% else %} 
<p>please enter URL </p>
{% endif %}

{% endblock %}